/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2018, 11:08:07
    Author     : Chris
*/

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    justify-content: flex-start;
}

.lesEmp {
    text-align: left;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.8em;
}

h1 {
    text-align: center;
}

.box>* {
    align-self: center;
    width:35%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
    align-content: space-between;
}

.formBox {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-content:space-between;
    margin-bottom: 4px;
    margin-top: 4px;
}

label {
    align-self: flex-start;
}
input {
    align-self: flex-end;
    width: 175px;
}

#traitementConnexion {
    text-align: center;
}