/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2018, 11:41:01
    Author     : Chris
*/

h1 {
    text-align: center;
}

#msgErreur {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    align-content: space-between;
}

.elementForm {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    width:35%
}

select {
    width: 49%;
}

.elementForm:nth-child(8) {
    justify-content: flex-end;
}

#validerForm {
    border-radius: 2px;
}