/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2018, 11:41:01
    Author     : Chris
*/

h1 {
    text-align: center;
    display: block;
}

p {
    text-align: center;
}

form {
    position: absolute;
    left: 20%;
    text-align: center;
    display: block;
    width: 600px;
}

form label {
    float: left;
    
}